* {
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.video-wrapper {
  height: 360px; /* This is not sustainable */

  overflow: hidden;
  display: inline-block;
}

.controls-wrapper {
  height: 65px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  transition: top 0.2s ease-out;
  top: 0px;
  padding: 10px;
}

.controls-wrapper.show {
  top: -65px;
}




/* PROGRESS BAR */

.progress-bar {
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: top 0.2s ease-out;
}

.progress-bar-buffered,
.progress-bar-played,
.progress-bar-total {
  height: 3px;
  width: 0%;
  position: absolute;
  transition: width 0.1s
}

.progress-bar-total {
  width: 100%;
  background-color: white;
  opacity: 0.75;
}

.progress-bar-buffered {
  background-color: grey;
  opacity: 0.75;
}

.progress-bar-played {
  min-width: 6px;
  background-color: rgba(183, 32, 37, 1);
  display: flex;
  align-items: center;
}

.progress-bar-scrubber {
  height: 18px;
  width: 6px;
  position: absolute;
  right: -5px;
  background-color: rgba(183, 32, 37, 1);
  z-index: 2;
  height: 0px; /* timeline height */
  box-sizing: content-box;
  border: 5px solid rgba(0,0, 0, 0);
  background-clip: content-box;
  transition: height 0.3s ease-out, left 0.2s ease-out, top 0.3s ease-out;
  top: -6px; /* This appears to be required in FF but not Chrome */
}

.progress-bar:hover .progress-bar-scrubber{
  height: 18px;
  top: -12px; /* This appears to be required in FF but not Chrome */
}

/* END PROGRESS BAR */




/* VOLUME SLIDER */

.volume-slider-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
  overflow: hidden;
  transition: width 0.2s ease-out;
}

.volume-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.volume-slider-total, .volume-slider-volume {
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
}

.volume-slider-total {
  opacity: 0.5;
}

.volume-slider-volume {
  width: 50%;
  display: flex;
  align-items: center;
}

.volume-scrubber {
  width: 6px;
  position: absolute;
  right: -5px;
  background-color: white;
  z-index: 2;
  top: -10px;
  height: 14px;
  box-sizing: content-box;
  border: 5px solid rgba(0,0, 0, 0);
  background-clip: content-box;
  transition: left 0.2s ease-out;
}

/* END VOLUME SLIDER */





.buttons {
  width: 100%;
  height: 100%;
  position: relative;
  top: -15px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.buttons-left-side-wrapper,
.buttons-right-side-wrapper {
  display: flex;
  flex-grow: 1;
}

.buttons-right-side-wrapper {
  justify-content: flex-end;
}

.control-element-wrapper {
  padding: 8px;
}




/* PLAY/PAUSE BUTTON */

.play {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
}

.pause::before, .pause::after {
  content: '';
  height: 20px;
  width: 5px;
  display: inline-block;
  background-color: white;
}

.pause::after {
  margin-left: 5px;
}

/* END PLAY/PAUSE BUTTON */




/* FULL SCREEN BUTTON */

.fullscreen-wrapper {
  right: 5;
}

.fullscreen {
  width: 20px;
  height: 20px;
  position: relative;
}

.corner {
  position: absolute;
  width: 8px;
  height: 8px;
}

.corner:nth-child(1) {
  left: 0;
  top: 0;
  border-top: 3px solid white;
  border-left: 3px solid white
}

.corner:nth-child(2) {
  right: 0;
  top: 0;
  border-top: 3px solid white;
  border-right: 3px solid white
}

.corner:nth-child(3) {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid white;
  border-right: 3px solid white
}

.corner:nth-child(4) {
  left: 0;
  bottom: 0;
  border-bottom: 3px solid white;
  border-left: 3px solid white
}

/* END FULL SCREEN BUTTON */




/* TIMESTAMP */

.time {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/* END TIMESTAMP*/